#copyright {
    position: fixed; /* ใช้ fixed แทน absolute เพื่อให้อยู่ล่างสุดของหน้าเว็บ */
    bottom: 0; /* ขยับไปด้านล่าง */
    left: 0; /* ชิดด้านซ้าย */
    width: 100%; /* กำหนดความกว้างเท่ากับ 100% ของคอนเทนเนอร์ */
    background-color: #000; /* สีพื้นหลัง */
    color: #fff; /* สีข้อความ */
    text-align: left; /* จัดข้อความให้อยู่ซ้าย */
    padding: 0px; /* ระยะห่างด้านบนและด้านข้างของข้อความ */
    z-index: 9999; /* ให้สิ่งที่อยู่ใน #copyright แสดงหน้าสุด */
}